
html{
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 1.6rem;
    font-family: $fuentePrincipal;
    background-color: $colorGris;
    color: #333;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
img{
    width: 100%;
}